<section class="img_left">
  <div class="container-fluid">
    <a class="img_logo">
      <span><img src="../../../assets/images/logo.png" width="180px"></span>
    </a>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-lg-5">
        <img src="assets/images/login_img.svg" class="img-fluid long_illu_img">
      </div>
      <div class="col-lg-4 common_sec">
        <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group auth-form-group-custom mb-4">
            <i class="ri-user-2-line auti-custom-input-icon"></i>
            <label for="email">{{"Email Id" | translate}}</label>
            <input type="email" formControlName="email" (keydown)="changeText()" class="form-control" id="email"
              placeholder="email@email.com" />
            <p *ngIf="!loginForm.controls.email.valid && submitted" class="text_error">{{"Please enter a valid email id"
               | translate}}</p>
          </div>

          <div class="form-group auth-form-group-custom mb-4">
            <i class="ri-lock-2-line auti-custom-input-icon"></i>
            <label for="password">{{"Password" | translate}}</label>
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" (keydown)="changeText()"
              class="form-control" placeholder="******" id="password" />
            <i alt="show" class="mdi mdi-eye-outline eye_symbol" (click)="showPassword = !showPassword"
              [class.hide]="showPassword"></i>

            <i alt="hide" class="mdi mdi-eye-off-outline eye_symbol" (click)="showPassword = !showPassword"
              [class.hide]="!showPassword"></i>
            <p *ngIf="!loginForm.controls.password.valid && submitted" class="text_error">{{"Please enter a valid password" 
              | translate}}</p>
          </div>

          <p class="text-center text_error pv10" *ngIf="isShow"><span>{{errorMessge}}</span></p>

          <div class="mt-4 text-center">
            <p>
              <button class="btn btn-primary w-md waves-effect waves-light" type="submit">{{"Log In" | translate}}</button>
            </p>
          </div>
        </form>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</section>