<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h2 class="mb-3 mb-md-0">{{"ContactLists" | translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>{{"Search" | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="{{'Search' | translate}}" #input>
        </mat-form-field>
    </div>
</div>

<div class="mat-elevation-z8">
    <table class="table" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"S.No" | translate}}</th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{matPaginator.pageSize * matPaginator.pageIndex + i
                + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Name" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Mobile Number" | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.countryCode}} {{element.mobileNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Email" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Message" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
        </ng-container>

        <ng-container matColumnDef="attachment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Attachment" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.attachment != null"><a href="{{element.attachment}}" target="_blank">{{"Download" |
                        translate}}</a></span>
                <span *ngIf="element.attachment == null">{{'No data found' | translate}}
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="4">{{"No data found" | translate}}</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>

</div>