<div class="mt-4">
    <!-- <h5 class="cont_title">{{"Terms of Use" | translate}}</h5> -->
    <form [formGroup]="addterms">
        <angular-editor id="editor1" formControlName="arValue" [config]="editorConfig"></angular-editor>
        <div class="text-left mt-3">
            <button type="submit" class="btn btn-own" (click)="onSubmit()">Save</button>
        </div>
    </form>
    <!-- <br><br>
    <h5 class="cont_title">Terms & Condition Arabic</h5>
    <form [formGroup]="addterms">
        <angular-editor id="editor1" formControlName="arName" [config]="editorConfig"></angular-editor>
        <div class="text-left mt-3">
            <button type="submit" class="btn btn-own" (click)="onSubmit()">Save</button>
        </div>
    </form> -->
</div>