<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h2 class="mb-3 mb-md-0">{{"Property Post List" | translate}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>{{"Search" | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="{{'Search' | translate}}" #input>
        </mat-form-field>
    </div>
    <div class="col-md-3 city_col">
        <select #select [(ngModel)]="selectedStatus" (change)="onChangeStatusTypeFilter(select.value)"
            class="form-control">
            <option value="0">{{"UnderReview" | translate}}</option>
            <option value="all">{{'All' | translate}}</option>
            <option value="1">{{"Approved" | translate}}</option>
            <option value="2">{{"Rejected" | translate}}</option>
            <option value="3">{{"ExpiredAds" | translate}}</option>
        </select>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="mat-elevation-z8">
    <table class="table" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"S.No" | translate}}</th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{matPaginator.pageSize * matPaginator.pageIndex + i
                + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Title" | translate}}</th>
            <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="aboveMenu"> {{element.title}}
                <mat-menu #aboveMenu="matMenu" yPosition="above">
                    <div class="text-center">
                        <p class="des_p">{{element.title}} </p>
                    </div>
                </mat-menu>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> {{"Status" | translate}} </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <select #select class="form-control" *ngIf="element.isApprove == 1"
                    (change)="onChangeStatus(select.value,element.id,Reason)">
                    <option selected="" disabled>{{"Approved" | translate}}</option>
                    <option value="2">{{"Rejected" | translate}}</option>
                    <option value="0">{{"UnderReview" | translate}}</option>
                </select>
                <select #select class="form-control" *ngIf="element.isApprove == 2"
                    (change)="onChangeStatus(select.value,element.id,Reason)">
                    <option selected="" disabled>{{"Rejected" | translate}}</option>
                    <option value="1">{{"Approved" | translate}}</option>
                    <option value="0">{{"UnderReview" | translate}}</option>
                </select>
                <select #select class="form-control" *ngIf="element.isApprove == 0"
                    (change)="onChangeStatus(select.value,element.id,Reason)">
                    <option selected="" disabled>{{"UnderReview" | translate}}</option>
                    <option value="1">{{"Approved" | translate}}</option>
                    <option value="2">{{"Rejected" | translate}}</option>
                </select>
                <!-- <p *ngIf="element.isApprove == 1" style="color: green;">{{"Approved" | translate}}</p>
                <p *ngIf="element.isApprove == 2" style="color: red;">{{"Rejected" | translate}}</p>
                <p *ngIf="element.isApprove == 0" style="color: blue;">{{"UnderReview" | translate}}</p> -->
            </td>
        </ng-container>

        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"User Name" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} <span *ngIf="element.userName != null">/</span>
                {{element.userMobileNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="provinceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Province Name" | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.provincesName}} </td>
        </ng-container>

        <ng-container matColumnDef="cityName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"City Name" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Category Name" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.arCategoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Price" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"PostedDate" | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> {{"Post Details" | translate}} </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <a (click)="goToDetails(element.id)">
                    <mat-icon>remove_red_eye</mat-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{"Status" | translate}} </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <button mat-button (click)="deletePost(element)" class="dele_btn">
                    <img src="assets/images/delete_icon.svg"
                        onmouseover="this.src='assets/images/delete_hover_icon.svg'"
                        onmouseout="this.src='assets/images/delete_icon.svg'">
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="10">{{"No data found" | translate}}</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #Reason role="document" let-modal="close">
    <div class="modal-header">
        <h5 class="modal-title">{{"Reject Reason" | translate}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3">
        <form [formGroup]="rejectForm">
            <div class="form-group">
                <label for="name">{{"Reason for Reject the Project" | translate}}</label>
                <textarea class="form-control" formControlName="rejectReason" rows="4" cols="50"
                    [ngClass]="{ 'is-invalid': submitted && rejectF['rejectReason'].errors}"></textarea>
            </div>
            <div *ngIf="submitted && rejectF['rejectReason'].errors" class="invalid-feedback">
                <div *ngIf="rejectF['rejectReason'].errors['required']">{{"Reason is required" | translate}}</div>
            </div>
        </form>
        <div class="text-right">
            <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{"Save" |translate}}</button>
            <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">{{"Cancel" |
                translate}}</button>
        </div>
    </div>
</ng-template>