<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>{{"Search" | translate}}</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="{{'Search' | translate}}" #input>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- <div style="text-align:end;" class="add_popup_btn">
                    <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="openModal(content)">
                        {{"AddSubCategory" | translate}}
                    </a>
                </div> -->
            </div>
        </div>

        <ng-template #content role="document" let-modal="close">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="!isEdit">{{"AddSubCategory" | translate}}</h5>
                <h5 class="modal-title" *ngIf="isEdit">{{"EditSubCategory" | translate}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-3">
                <form [formGroup]="subCategForm">
                    <div class="form-group">
                        <label for="name">{{"SubCategoryName" | translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'SubCategoryName' | translate}}"
                            formControlName="motorCategoriesName"
                            [ngClass]="{ 'is-invalid': submitted && subCateg['motorCategoriesName'].errors}">
                        <div *ngIf="submitted && subCateg['motorCategoriesName'].errors" class="invalid-feedback">
                            <div *ngIf="subCateg['motorCategoriesName'].errors['required']">{{'Name is required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">{{"SubCategroyNameAr" | translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'SubCategroyNameAr' | translate}}"
                            formControlName="arMotorCategoriesName"
                            [ngClass]="{ 'is-invalid': submitted && subCateg['arMotorCategoriesName'].errors}">
                        <div *ngIf="submitted && subCateg['arMotorCategoriesName'].errors" class="invalid-feedback">
                            <div *ngIf="subCateg['arMotorCategoriesName'].errors['required']">{{'Name is required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-right">
                    <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{"Save" |
                        translate}}</button>
                    <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">{{"Cancel" |
                        translate}}</button>
                </div>
            </div>
        </ng-template>

        <div class="mat-elevation-z8">
            <table class="table" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"S.No" | translate}}</th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{matPaginator.pageSize *
                        matPaginator.pageIndex + i
                        + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="motorCategoriesName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"SubCategoryName" | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.motorCategoriesName}} </td>
                </ng-container>

                <ng-container matColumnDef="arMotorCategoriesName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"SubCategroyNameAr" | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.arMotorCategoriesName}} </td>
                </ng-container>

                <ng-container matColumnDef="rowActionIcon">
                    <th mat-header-cell *matHeaderCellDef>{{"Action" | translate}}</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-button (click)="editSubCategory(element,content)" class="edit_btn">
                            <img src="assets/images/edit_icon.svg"
                                onmouseover="this.src='assets/images/edit_hover_icon.svg'"
                                onmouseout="this.src='assets/images/edit_icon.svg'">
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="3">{{"No data found" | translate}}</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
</div>