.switch_btn{
    font-family: 'DroidKufi' !important;
}
.switch_btn:lang(ar){
    font-family: 'Poppins', sans-serif !important;
}
.dropdown-item .icon i{
    color: var(--black-color) !important;
}
.dropdown-item .icon {
    background: #ccc !important;
}